.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .formDateContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .isActiveSwitchContainer {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .pollIntevalContainer {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .resourceByTypeContainer {

    }
  }
}