// Font sizes
$font-smallest: 10px;
$font-smaller: 12px;
$font-small: 14px;
$font-normal: 16px;
$font-medium: 18px;
$font-large: 24px;
$font-larger: 32px;
$font-largest: 48px;
$font-huge: 56px;
$font-hugest: 72px;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;