@use '../../styles/colors';
@use '../../styles/fonts';

.container {
  display: flex;
  flex-direction: column;

  .pageHeader {
    margin: 20px 0;
    font-weight: fonts.$font-weight-bold;
    font-size: fonts.$font-larger;
  }
}