@use '../../../../styles/colors';
@use '../../../../styles/fonts';

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .contentWrapper {
    padding: 100px 0;
    width: 40%;

    .contentContainer {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .headerContainer {
        .title {
          font-weight: fonts.$font-weight-bold;
          font-size: fonts.$font-large;
        }

        .subTitle {
          font-size: fonts.$font-normal;

          .createNewText {
            font-weight: fonts.$font-weight-bold;
            text-decoration: underline;
          }
        }
      }

      .inputsWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .inputsContainer {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }

      .actionButtonWrapper {
        display: flex;
        flex-direction: column;
      }

      .footerInfoContainer {
        text-align: center;

        .termsOfServiceText {
          font-weight: fonts.$font-weight-semi-bold;
          color: colors.$tealPrimary;
        }
      }
    }
  }
}