@use '../../../../styles/colors';
@use '../../../../styles/fonts';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .dataStoresContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .existingDataStores {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .title {

      }

      .dataStoresList {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid colors.$textSecondary;

        .addFirstDataStoreHint {
          font-size: fonts.$font-normal;
          color: colors.$textSecondary
        }
      }
    }

    .addNewDataStoreContainer {
      display: flex;
      gap: 20px;
    }
  }

  .dataStoresToDisplayList {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid colors.$textSecondary;

    .dataStoreName {
      //font-weight: fonts.$font-weight-semi-bold;

      &:hover {
        color: colors.$textSecondary
      }
    }
  }

  .chartsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
