@use '../../../../../../styles/colors';
@use '../../../../../../styles/fonts';

.workspaceItemContainer {
  background-color: colors.$backgroundSecondary;
  padding: 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  min-width: 250px;

  .iconContainer {
    background-color: colors.$tealPrimary;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .iconText {
      text-transform: uppercase;
      font-size: fonts.$font-large;
    }
  }

  .workspaceInfoContainer {
    display: flex;
    flex-direction: column;

    .name {
      width: 70%;
      font-weight: fonts.$font-weight-semi-bold;
      //overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .membersNumber {
      font-size: fonts.$font-small;
      color: colors.$textSecondary;
    }
  }
}