@use '../../../../../../styles/colors';
@use '../../../../../../styles/fonts';

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: colors.$accentBackground;

  .currentUserInformation {
    display: flex;
    gap: 10px;

    .avatarContainer {

    }

    .fullNameContainer {
      display: flex;
      align-items: center;
      font-size: fonts.$font-normal;
    }
  }
}